.form-inline label {
  margin-left: 0.5em;
}
.lctesupplement {
  td, th {
    border: none;
    text-align: center;
  }
}

.greedy-nav button {
  min-height: 40px;
}

.masthead {
  min-height: 73px;
}
